exportClasses( "CountDataSet" )

export( 
   newCountDataSet,
   counts,
   sizeFactors,
   "sizeFactors<-",
   conditions,
   rawVarFunc,
   rawVarFuncTable,
   estimateSizeFactors,
   estimateVarianceFunctions,
   varianceFitDiagnosticsForMatrix,
   residualsEcdfPlotFromDiagnostics,
   varianceFitDiagnostics,
   residualsEcdfPlot,
   nbinomTest,
   getBaseMeansAndVariances,
   nbinomTest,
   estimateVarianceFunctionForMatrix,
   nbinomTestForMatrices,
   estimateSizeFactorsForMatrix,
   scvPlot,
   getVarianceStabilizedData,
   makeExampleCountDataSet,
   adjustScvForBias,
   varAdjFactors,
   "varAdjFactors<-" )
  
import( Biobase )
importFrom( genefilter, rowVars )
importFrom( geneplotter, multiecdf )

useDynLib( DESeq, add_from_middle_for_R )
