exportClasses( "CountDataSet" )

export( 
   newCountDataSet,
   counts,
   sizeFactors,
   "sizeFactors<-",
   conditions,
   estimateSizeFactors,
   estimateDispersions,
   #varianceFitDiagnosticsForMatrix,
   #residualsEcdfPlotFromDiagnostics,
   #varianceFitDiagnostics,
   #residualsEcdfPlot,
   nbinomTest,
   getBaseMeansAndVariances,
   #estimateVarianceFunctionForMatrix,
   #estimatePooledVarianceFunctionForMatrix,
   #nbinomTestForMatrices,
   estimateSizeFactorsForMatrix,
   #scvPlot,
   getVarianceStabilizedData,
   makeExampleCountDataSet,
   adjustScvForBias,
   nbinomGLMsForMatrix,
   nbinomFitGLM,
   nbkd.sf,
   nbinomGLMTest,
   #getRawScvForSamplePair,
   #getRawScvDistanceMatrix,
   dispTable 
)
  
import( Biobase )
importFrom( genefilter, rowVars )
importFrom( geneplotter, multiecdf )

useDynLib( DESeq, calc_pvals )
